{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'app.js' %}" defer></script>
{% endblock scripts %}

{% block title %}

{% endblock title %}
{% block content %}

{% include '_navBar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="fw-light" href="{% url 'shop:shop' shop_slug=product.shop.slug %}">{{ product.shop }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
                </ol>
              </nav>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center" id="flash-message">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img style="width: 100%; object-fit: cover;"  src="{{ product.image.url }}" height="250" />
        </div>
        <div class="col"> 
            <h4>{{ product.title }}</h4>
            <p>Product description goes here.</p>
            <p class="fw-bold">R {{ product.price }}</p>

            <div class="row">
                <div class="col-6">
                    <select style="width: auto;" id="select" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-6">
                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-primary btn-sm">Add to Cart</button> 
                </div>     
            </div>     
        </div>
    </div>
</div>





<script defer>
    const addButton = document.getElementById('add-button')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    const flashMessage = document.getElementById('flash-message')
    

    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        
        $.ajax({
            type: 'POST',
            url: '{% url "shop:cart:cart_add" shop_slug=product.shop.slug %}',
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("cart-quantity").innerHTML = json.quantity

               flashMessage.innerHTML += `

               
               
                    <p><strong>{{product.title}}</strong> has been added to the shopping cart</p>
               
               `

            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}