{% extends "../base.html" %}
{% load static %}
{% block title %}Cart Summary{% endblock %}
{% block content %}

<style>
  
  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
  }
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>


{% include '_navBar.html' %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Shopping Cart Summary.
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              

              <div class="container">
                <div class="row">
                  <div class="col">
                    
                    <table id="cart" class="table table-hover table-condensed">
                      <thead>
                      <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart %} 
                        {% with product=item.product %}
                      <tr>
                        
                        <td data-th="Product">
                          <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                            <div class="col-sm-10">
                              <h4 class="nomargin">Product 1</h4>
                              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                            </div>
                          </div>
                        </td>
                        <td data-th="Price">$1.99</td>
                        <td data-th="Quantity">
                          <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td data-th="Subtotal" class="text-center">1.99</td>
                        <td class="actions" data-th="">
                          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
                        </td>
                        
                      </tr>
                      {% endwith %}
                      {% endfor %}
                    </tbody>
                    
                  </table>

                    
                  </div>
                </div>
              </div>
          
                  
                  <div class="container">
                    <div class="row">
                      <div class="col text-end">
                        <div class="">Sub Total: <span class="fw-bold">R </span><div id="subtotal" class="d-inline-flex fw-bold">{{cart.get_subtotal_price}}</div></div>
                        <div class="pt-2">Total to pay: <span class="fw-bold h5">R </span><span id="total_price" class="fw-bold h5">{{cart.get_total_price}}</span></div>
                      </div>
                  </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Checkout.
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form id="payment-form mt-5" method="POST" class="row g-3">
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                
              
                <div class="col-md-6 one-liner mt-5">
                  <p class="">Card Information.</p>
                  <div id="card-frame">
                    <!-- Yoco Inline form will be added here -->
                  </div>
                  <br>
                  <button class="btn btn-lg btn-primary" id="pay-button">
                    Pay <span id="price_confirmation">R{{cart.get_total_price}}</span>
                  </button>
                </div>
                <p class="success-payment-message"></p>
              </form>
                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
    var cartTotal = '{{ cart.get_total_price}}';
    var cartTotal = cartTotal.toString();
    var cartTotal = cartTotal.replace('.', '');
    var cartTotal = parseInt(cartTotal)
    var shopInstace = '{{ cart.product.shop }}';
    console.log(shopInstace)

    var order_url = "{% url 'order:add' %}";
  
  
    // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_delete" %}',
      data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("cart-quantity").innerHTML = json.cart-quantity
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_update" %}',
      data: {
        product_id: $(this).data('index'),
        product_quantity: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        console.log(json.cart_quantity)
        console.log(json.subtotal)
        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
        document.getElementById("subtotal").innerHTML = json.subtotal
        document.getElementById("total_price").innerHTML = json.total_price
        document.getElementById("price_confirmation").innerHTML = json.total_price

      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>

<script src="{% static 'payment.js' %}" data-rel-js></script>
{% endblock %}