{% extends "../base.html" %}
{% load static %}
{% block title %}Cart Summary{% endblock %}
{% block content %}

<style>
  .form-select {
    display: inline-grid;
    width: 100% !important;
  }
  .product:hover {
    background-color: #D9D9D9;
  }

  .product-image {
    margin-bottom: 1rem;
  }

  .product-description {
    margin-top: 0rem !important;
  }
</style>


{% include '_navBar.html' %}
<div class="container mt-5" style="margin-top: 150px !important;">
  <div class="row">
    <div class="col">
      {% for item in cart %} 
      {% with product=item.product %}
        <div class="row product align-items-center">
          <div class="col-lg-2 col-sm-6 clearfix product-image">
            <img class="pt-3" style="width: 100%; object-fit: cover;" src="{{ product.image.url }}" height="150"/>
          </div>
          <div class="col-lg-4 col-sm-6-mt-2">
            <p class="fw-bold mb-0">
              <a href="{% url 'shop:product:product' shop_slug=product.shop.slug product_slug=product.slug %}">
                {{ product.title }}
              </a>
            </p>
            <p class="mb-1" style="font-size: 12px;">
              <a data-bs-toggle="tooltip" data-bs-placement="right" title="Continue shopping" href="{% url 'shop:shop' shop_slug=product.shop.slug %}">
                {{ product.shop }}
              </a>
            </p>
            <p class="fw-light product-description" style="font-size: 12px;">
              This is where the description of the product goes.
            </p>
            <p style="font-size: 10px; font-weight: bold;">R{{ product.price }}</p>
          </div>

          <div class="col col-lg-2 col-sm-6 text-center">
            <select class="custom_select form-select" id="select{{product.id}}">
              <option value="" selected disabled hidden>{{item.quantity}}</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
            </select>
          </div>  
            <div class="col col-lg-4 col-sm-6 text-center">
              <a type="button" id="update-button" data-index="{{product.id}}" class="update-button text-decoration-none small btn btn-md btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
                
              </a>
              <a type="button" id="delete-button" data-index="{{product.id}}" class="delete-button text-decoration-none small btn btn-md btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>	
            </div>	
          </div>
    </div>

                    
        <hr>
      {% endwith %}
      {% endfor %}
    <div class="col mb-3 text-end">
      <div class="">Shipping Fee: <span class="fw-bold">R </span><div id="shipping_fee" class="d-inline-flex fw-bold">{{ shop.shipping_fee }}</div></div>
    
      <div class="">Amount To Pay: <span class="fw-bold">R </span><div id="subtotal" class="d-inline-flex fw-bold">{{cart_shipping_fee}}</div></div>
    </div>

    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mb-5">
      <a style="color: #fff;" class="w-100 btn btn-md btn-primary" href="{% url 'shop:payment:payment' shop_slug=shop.slug %}">Checkout</a>
    </div>
  </div>
</div>

<script>
  // {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
    var cartTotal = '{{ cart.get_total_price}}';
    var order_url = "{% url 'order:add' %}";
  
  
    // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "shop:cart:cart_delete" shop_slug=shop.slug %}',
      data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("cart-quantity").innerHTML = json.cart-quantity
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "shop:cart:cart_update" shop_slug=shop.slug %}',
      data: {
        product_id: $(this).data('index'),
        product_quantity: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        console.log(json.cart_quantity)
        console.log(json.subtotal)
        document.getElementById("cart-quantity").innerHTML = json.cart_quantity
        document.getElementById("subtotal").innerHTML = json.subtotal
        document.getElementById("price_confirmation").innerHTML = json.total_price

      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>

{% endblock %}
