{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'app.js' %}" defer></script>
{% endblock scripts %}

{% block title %}

{{ shop.name }}

{% endblock title %}
{% block content %}

{% include '_navBar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 bg-image">
            <h4 class="tag-line">{{ shop.tag_line | title }}</h4>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <p class="lead pb-3">Available Products</p>
    <div class="row">
        {% for product in page_obj %}
        <div class="col-lg-3 mb-5">
            <div class="card border-light">
                <img style="width: 100%; object-fit: cover;" src="{{ product.image.url }}" class="card-img-top" height="150" alt="...">
                <div class="card-body">
                  <a href="{% url 'shop:product:product' shop_slug=shop.slug product_slug=product.slug %}"><p class="card-title mb-1">{{ product.title | upper }}</p></a>
                  <p class="card-text fw-light lh-1" style="font-size: 12px;">{{ product.description | slice:":15"}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">R{{ product.price }}</li>
                </ul>
              </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        <p class="fw-light" style="font-size: 12px;">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </p>
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>



<style>

    .bg-image {
        background: url("{{ shop.background_image.url }}") center center no-repeat;
        background-size: cover;
        position: relative;
        height: 45vh;
    }

    .tag-line {
        color: #fff;
        margin-top: 150px;
        text-align: center;
        opacity: 0px 1px;
    }
</style>

{% endblock %}