body, html {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif !important;
}

a {
    text-decoration: none !important;
    color: #011126 !important;
}

a:hover {
    color: #0DF205 !important;
    transition: 0.3s;
}

.btn {
    border-radius: 0px !important;
}