<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">{{ shop.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              
          </ul>
          <a type="button" role="button" href="{% url 'shop:cart:cart_summary' shop_slug=shop.slug %}"
              class="btn btn-outline-secondary">

              {% with total_quantity=cart|length %}
                  <div id="cart-quantity" class="d-inline-flex">
                      {% if total_quantity > 0 %}
                          {{ total_quantity }}
                      {% else %}
                          0
                      {% endif %}
                  </div>
              {% endwith %} 

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-cart3" viewBox="0 0 16 16">
                  <path
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              Cart
          </a>
      </div>
  </div>
</nav>