{% extends "base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<style>
  
</style>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <form id="payment-form" method="POST">
          
          <div class="one-liner">
            <div id="card-frame">
              <!-- Yoco Inline form will be added here -->
            </div>
            <br>
            <button class="btn btn-md btn-primary" id="pay-button">
              Pay
            </button>
          </div>
          <p class="success-payment-message"></p>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    // {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
    var cartTotal = '{{ cart.get_total_price}}';
    var cartTotal = cartTotal.toString();
    var cartTotal = cartTotal.replace('.', '');
    var cartTotal = parseInt(cartTotal)

    var order_url = "{% url 'order:add' %}";
</script>
<!-- <script src="https://js.stripe.com/v3/"></script> -->
<script src="{% static 'payment.js' %}" data-rel-js></script>

{% endblock %}