{% extends "base.html" %}
{% load static %}
{% block title %}Shipping Information{% endblock %}
{% block content %}


{% include '_navBar.html' %}


<div class="container mt-5">
  <div class="row">
      <div class="col p-3">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-5">
                <li class="breadcrumb-item"><a class="fw-light" href="{% url 'shop:shop' shop_slug=shop.slug %}">{{ shop }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shipping Information</li>
              </ol>
            </nav>
      </div>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <form id="payment-form" method="POST" validate>
        {% csrf_token %}
        <div class="col-md-6">
          <label for="first_name" class="form-label">First name</label>
          <input type="text" class="form-control" id="first_name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="last_name" class="form-label">Last name</label>
          <input type="text" class="form-control" id="last_name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          
        </div>
        <div class="col-md-12">
          <label for="address1" class="form-label">Address Line 1</label>
          <input type="text" class="form-control" id="address1" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          
        </div>
        <div class="col-md-6">
          <label for="address2" class="form-label">Address Line 2</label>
          <input type="text" class="form-control" id="address2">
          <div class="valid-feedback">
            Looks good!
          </div>
          
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="province" class="form-label">Province</label>
          <select class="form-select" id="province" required>
            <option selected disabled value="">Choose...</option>
            <option>Gauteng</option>
            <option>Limpopo</option>
            <option>Mpumalanga</option>
            <option>Kwa-Zulu Natal</option>
            <option>Eastern Cape</option>
            <option>Free State</option>
            <option>North West</option>
            <option>Northern Cape</option>
            <option>Western Cape</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid province.
          </div>
        </div>
        <div class="col-md-3">
          <label for="zip_code" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zip_code" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>

        <button type="submit" id="order-button" class="btn btn-md btn-primary mt-5">
          Place Order R{{ cart.get_total_price }}
        </button>
        <p class="success-payment-message"></p>

      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="">We only offer Electronic Fund Transfer <strong>(EFT)</strong> at the moment, <br><br>Thank you.</p>
    </div>
  </div>
</div>

{% include 'footer.html' %}

<script>
    // {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
    var cartTotal = '{{ cart.get_total_price}}';
    var cartTotal = cartTotal.toString();
    var cartTotal = cartTotal.replace('.', '');
    var cartTotal = parseInt(cartTotal)
    var shop = '{{shop}}'
    console.log(shop)

    var orderConfirmatonUrl = "{% url 'order:order_confirmation' %}"
    console.log(orderConfirmatonUrl)

    var order_url = "{% url 'order:add' %}";
</script>

<script src="{% static 'payment.js' %}" data-rel-js></script>

{% endblock %}